.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo span {
  margin-left: 30px;
  font-weight: 600;
  cursor: pointer;
} 

.menu__container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
